@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --color-dark-blue: hsl(209, 23%, 22%);
    --color-very-dark-blue-dark-mode: hsl(207, 26%, 17%);
    --color-very-dark-blue-light-mode: hsl(200, 15%, 8%);
    --color-dark-gray-light-mode-input: hsl(0, 0%, 52%);
    --color-very-light-gray-light-mode-background: hsl(0, 0%, 98%);
    --color-white: hsl(0, 0%, 100%);

    --font-family: 'Nunito Sans', sans-serif;
    --font-size-homepage: .875rem; /*14px*/
    --font-size-detail-page: 1rem; /*16px*/

    --font-weight-light: 300;
    --font-weight-medium: 600;
    --font-weight-large: 800;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-very-light-gray-light-mode-background);
    min-height: 100vh;    
}

.main-header-container {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.header-container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: min(100% - 2rem, 1120px);
    height: 4.375rem; /*70px*/
    /* border: solid 1px blue; */
}

.mode-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-header-container h1 {
    font-size: var(--font-size-homepage);
    font-weight: var(--font-weight-large);
}

.main-header-container h3 {
    font-size: var(--font-size-homepage);
    font-weight: var(--font-weight-small);
}

.mode-header-container h3 {
    padding-left: .5rem;
}

.filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: min(100% - 2rem, 1120px);
    margin-bottom: 0rem;
}

.articles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: min(100% - 2rem, 1120px);
    border: 1px solid #999;
}

.country-filter #country,
.country-filter #region {
    width: min(100% - 2rem, 200px);
    height: 3.0rem;
    border-radius: 4px;
    border-style: none;
    padding: 0 .5rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.country-filter #country {
    width: min(100%, 400px);
    margin-right: 1rem;
}

#region {
    color: var(--color-dark-gray-light-mode-input);
}

.country-card {
    border: 1px solid #888;
    background-color: steelblue;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 4rem;
    text-align: center;
}

.articles {
    margin-bottom: 2rem;
}






@media(min-width: 600px) {

    .articles-container {        
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 3rem;        
    }

}






