@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --color-dark-blue: hsl(209, 23%, 22%);
    --color-very-dark-blue-dark-mode: hsl(207, 26%, 17%);
    --color-very-dark-blue-light-mode: hsl(200, 15%, 8%);
    --color-dark-gray-light-mode-input: hsl(0, 0%, 52%);
    --color-very-light-gray-light-mode-background: hsl(0, 0%, 98%);
    --color-white: hsl(0, 0%, 100%);

    --font-family: 'Nunito Sans', sans-serif;
    --font-size-homepage: .875rem; /*14px*/
    --font-size-detail-page: 1rem; /*16px*/

    --font-weight-light: 300;
    --font-weight-medium: 600;
    --font-weight-large: 800;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-very-light-gray-light-mode-background);
    min-height: 100vh;    
}

.main-header-container {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.header-container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: min(100% - 2rem, 1120px);
    height: 4.375rem; /*70px*/
    /* border: solid 1px blue; */
}

.mode-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.main-header-container h1 {
    font-size: var(--font-size-homepage);
    font-weight: var(--font-weight-large);
    cursor: pointer;
}

.main-header-container h3 {
    font-size: var(--font-size-homepage);
    font-weight: var(--font-weight-small);
}

.mode-header-container h3 {
    padding-left: .5rem;
}

/* CSS Formatting for main page */

.detail-container {
    padding: 1rem 2rem;
    /* position: absolute; */
    max-width: calc(100% - 2rem);
    margin: 0rem 0rem;
}

#arrow {
    font-size: 2rem;
    padding-right: .5rem;
    /* position: relative;
    top: 3px;
    left: 0px; */
}

.btn {
    padding: .5rem 2rem;
    /* border: solid .2px var(--color-very-dark-blue-light-mode); */
    box-shadow: 0px 0px 3px 1px #999;
    border-radius: 2px;
    text-decoration: none;
    /* position: absolute; */   
}

#detail-flag {
    background-image: url('./design/sample_flag2.png');
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: 300px 250px; */
    background-size: cover;
    min-height: 220px;
    min-width: 320px;
    /* min-width: 400px; */
    /* width: min(100% - 2rem, 400px); */
    margin-top: 4rem;
    margin-bottom: 3rem;   
    border: 1px solid salmon; 
}

#country-group1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
    line-height: 2.0;
}

#country-name {
    font-weight: var(--font-weight-large);
    font-family: var(--font-family);
    font-size: 24px;
    padding-bottom: .5rem;
}

#native-name::before {
    content: 'Native Name: ';
    font-weight: var(--font-weight-medium);
}

#population::before {
    content: 'Population: ';
    font-weight: var(--font-weight-medium);
}

#region::before {
    content: 'Region: ';
    font-weight: var(--font-weight-medium);
}

#sub-region::before {
    content: 'Sub Region: ';
    font-weight: var(--font-weight-medium);
}

#capital::before {
    content: 'Capital: ';
    font-weight: var(--font-weight-medium);
}


#country-group2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
    line-height: 2.0;
}

#top-level-domain::before {
    content: 'Top Level Domain: ';
    font-weight: var(--font-weight-medium);
}

#currencies::before {
    content: 'Currencies: ';
    font-weight: var(--font-weight-medium);
    padding-right: 0.5rem;
}

#currencies {
    display: flex;
}

#currencies li {
    text-decoration: none;
    list-style: none;
}

#currencies li::after {
    content: ','
}

#currencies li:last-child::after {
    content: '';
}

#languages::before {
    content: 'Languages: ';
    font-weight: var(--font-weight-medium);
    padding-right: 0.5rem;
}

#languages {
    display: flex;
    padding-bottom: 1.5rem;
}

#languages li {
    text-decoration: none;
    list-style: none;
    padding-right: 0.5rem;
}

#languages li::after {
    content: ','
}

#languages li:last-child::after {
    content: '';
}

#border-countries {
    font-weight: var(--font-weight-medium);
}

.btn-border-countries {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.btn-border-countries li {
    list-style: none;
    margin-right: 0.5rem;
    margin-top: 1.0rem;
    min-width: 100px;
    /* max-width: 150px; */
    text-align: center;
    padding: 0rem 0.25rem;
    cursor: pointer;
}



@media(min-width: 600px) {

   .detail-container {
    width: min(100% - 2rem, 1120px);
    height: 80vh;
    margin: 0 auto;
    border: 1px solid green;
   }

   #back-button {
    border: 1px solid blue;
   }

   #country-container {
    /* display: flex; */
    /* align-content: flex-start;
    justify-content: flex-start; */
    border: 1px solid red;
   }

   #country-info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   }

   #detail-flag {
    background-image: url('./design/sample_flag2.png');
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: 300px 250px; */
    background-size: cover;
    min-height: 300px;
    min-width: 470px;
    margin-bottom: 3rem;   
    border: 1px solid salmon; 

}

.border-countries-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}




  



    
}



